<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BIPv2.Communication.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BrandId" value="2" />

    <add key="AppName" value="D2CWinService SIEMENS LIVE" />
    <add key="InstanceName" value="D2CWinService SIEMENS LIVE" />
    <add key="DisplayName" value="D2C Windows Service SIEMENS LIVE" />
    <add key="Description" value="D2C SIEMENS LIVE arka plan işlemleri için gereklidir." />

    <add key="LogSource" value="mssql" />
    <add key="LogDatabaseTable" value="LogD2C" />
    <add key="LogLevel" value="Warn" />
    <add key="logEmailIsActive" value="true" />
    <add key="logEmailSmtpHost" value="mail.nuevofarm.com" />
    <add key="logEmailUsername" value="d2c@boschevaletleri.com" />
    <add key="logEmailPassword" value="PYS44Q9" />
    <add key="logEmailToAddress" value="kbaydede@nuevo.com.tr,esarikaya@nuevo.com.tr" />
    <add key="logEmailFromAddress" value="d2c@siemensevaletleri.com" />
    
	<add key="MailServerSmtpHost" value="213.183.11.238"/>
    <add key="MailServerUsername" value="d2c@boschevaletleri.com"/>
    <add key="MailServerPassword" value="PYS44Q9"/>
	
	<add key="DoNotSendFileToSap" value="false"/>
	
	<add key="GoogleClientId" value="gme-robertboschgmbh1"/>
    <add key="GoogleCryptoKey" value="2Ld7Flgi4i-Bu0ytP3uGZQlWXmY="/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServerMain" connectionString="Server=213.183.11.246;Database=kokpit;User Id=bv2userw;Password=Gu!23guk;" />
    <add name="SqlWrite" connectionString="Server=213.183.11.246;Database=kokpit;User Id=bv2userw;Password=Gu!23guk;" />
  </connectionStrings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataServicesSMSSoap" />
        <binding name="ProductInfoDataServicesSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ProductInfoDataServicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sms-servisleri.com/service/DataServicesSMS.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataServicesSMSSoap"
        contract="SmsServiceReference.DataServicesSMSSoap" name="DataServicesSMSSoap" />
      <endpoint address="http://sar.mvm-test.com/ProductInfoDataServices.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProductInfoDataServicesSoap"
        contract="ProductInfoDataServices.ProductInfoDataServicesSoap"
        name="ProductInfoDataServicesSoap" />
      <endpoint address="http://sar.mvm-test.com/ProductInfoDataServices.asmx"
        binding="customBinding" bindingConfiguration="ProductInfoDataServicesSoap12"
        contract="ProductInfoDataServices.ProductInfoDataServicesSoap"
        name="ProductInfoDataServicesSoap12" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <BIPv2.Communication.Services.Properties.Settings>
      <setting name="BIPv2_Communication_Services_Nectar3Service_PICenterService"
        serializeAs="String">
        <value>https://portal.bsh-partner.com/picenter/server/a2a/</value>
      </setting>
      <setting name="BIPv2_Communication_Services_Nectar2Service_Product"
        serializeAs="String">
        <value>http://nectarservices.bsh-group.com/ExportProduct/Product.asmx</value>
      </setting>
    </BIPv2.Communication.Services.Properties.Settings>
  </applicationSettings>
</configuration>